<%- include('head.ejs') %>
<body>
        <img class="achtergrond" src="../public/upload/images/404backimg.png" alt="achtergrond illustratie 404 page">
    <a href="/">
        <img class="tekst" src="../public/upload/images/text.png" alt="tekst 404 page">
    </a>
        <img class="tekst404" src="../public/upload/images/404.png" alt="tekst 404 page">
</body>
</html>
