<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailpagina</title>
    <link rel="stylesheet" type="text/css" href="./public/css/detailspagina.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <main>
        <header>
            <nav>
                <img src="../public/upload/images/kruiswit.png" alt="Logo">
                <img src="../public/upload/images/chromeshare.png" alt="Logo">
                <img src="../public/upload/images/zoekenwit.png" alt="Logo">
            </nav>
        </header>
        <section class="promoimage">
            <img src="../public/upload/images/movies/naruto.jpg" alt="naruto-detailpagina foto">
        </section>
        <section>
            <section>
                <form class="rating" method="POST" id="form1">

                    <input type="radio" id="rating1" name="rating" value="1">
                    <label id="1" title="Poor" class="fa fa-star" for="rating1"></label>

                    <input type="radio" id="rating2" name="rating" value="2">
                    <label id="2" title="Average" class="fa fa-star" for="rating2"></label>


                    <input type="radio" id="rating3" name="rating" value="3">
                    <label id="3" title="Average" class="fa fa-star" for="rating3"></label>


                    <input type="radio" id="rating4" name="rating" value="4">
                    <label id="4" title="Good" class="fa fa-star" for="rating4"></label>


                    <input type="radio" id="rating5" name="rating" value="5">
                    <label id="5" title="Awesome" class="fa fa-star" for="rating5"></label>
                </form>

                <img src="../public/upload/images/detailpagina/savewit.png">
            </section>
            <h2>Naruto</h2>
            <p>hierkomttekst over de anime hierkomttekst over de anime hierkomttekst over de anime</p>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>