<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailpagina</title>
    <link rel="stylesheet" type="text/css" href="./public/css/detailspagina.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <main>
        <header>
            <nav>
                <a href="/">
                    <img src="../public/upload/images/kruiswit.png" alt="Logo">
                </a>
                <img src="../public/upload/images/chromeshare.png" alt="Logo">
                <img src="../public/upload/images/zoekenwit.png" alt="Logo">
            </nav>
        </header>
        
    </main>
    <footer>

    </footer>
</body>

</html>