<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailpagina</title>
    <link rel="stylesheet" type="text/css" href="./public/css/detailspagina.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <main>
        <header>
            <nav>
                <img src="../public/upload/images/kruiswit.png" alt="Logo">
                <img src="../public/upload/images/chromeshare.png" alt="Logo">
                <img src="../public/upload/images/zoekenwit.png" alt="Logo">
            </nav>
        </header>
        <section class="promoimage">
            <img src="../public/upload/images/movies/naruto.jpg" alt="naruto-detailpagina foto">
        </section>
        <section>
            <section>
                <form id="rating-wrapper">
                    <input type="radio" id="5" name="rating" value="5">
                    <label for="5" class="rating-star fa fa-star"></label>
                    <input type="radio" id="4" name="rating" value="4">
                    <label for="4" class="rating-star fa fa-star"></label>
                    <input type="radio" id="3" name="rating" value="3">
                    <label for="3" class="rating-star fa fa-star"></label>
                    <input type="radio" id="2" name="rating" value="2">
                    <label for="2" class="rating-star fa fa-star"></label>
                    <input type="radio" id="1" name="rating" value="1">
                    <label for="1" class="rating-star fa fa-star"></label>
                    </form>
                  <button id="reset-rating">Reset rating</button>

                <button><img src="../public/upload/images/detailpagina/opslaanwitNIEUW.png"></button>
            </section>
            <h2>Naruto</h2>
            <p>hierkomttekst over de anime hierkomttekst over de anime hierkomttekst over de anime</p>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>