<%- include('head.ejs') %>
<body>
    <header>
        <nav>
            <img src="../public/upload/images/LOGOJUIST.png" alt="Logo">
            <img src="../public/upload/images/chromeshare.png" alt="Logo">
            <img src="../public/upload/images/zoekenwit.png" alt="Logo">
        </nav>
    </header>
</body>
</html>