<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANIME SMARTY</title>
    <link rel="stylesheet" type="text/css" href="./public/css/style.css">
    <style>@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&display=swap');</style>
</head>

<body class="index">
    <header>
        <img src="./" alt="Logo">
        <nav>
            <ul>
                <li><a href="/public/upload/images/chromeshare.png"></a></li>
                <li><a href="/public/upload/images/zoekenwit.png"></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="promovideo">
            <video src="./video's/ROAD OF NARUTO NARUTO 20th Anniversary Trailer VIZ.mp4"
                alt="Achtergrond video van naruto homepagina" autoplay loop muted>
            </video>
            <section>
                <h2>Naruto</h2>
                <p>De animeserie volgt Naruto (samen met zijn vrienden) op zijn weg om zelf
                    Hokage te worden. <span>LEES MEER</span>.
                </p>
                <a href=""><button>Afspelen</button></a>
            </section>
        </section>
    </main>
    <footer>
        <nav>

        </nav>
    </footer>
</body>

</html>