<%- include('header.ejs') %>
<main>
    <section class="promovideo">

        <video src="../public/upload/video's/ROAD OF NARUTO NARUTO 20th Anniversary Trailer VIZ.mp4"
            alt="Achtergrond video van naruto homepagina" autoplay loop muted>
        </video>
        <section>
            <h2>Naruto</h2>
            <section>
                <a href="./detailspagina">
                    <button class="btn1">
                        <img src="../public/upload/images/playgroen.png" alt="Afspelen" />
                        Afspelen
                    </button>
                </a>
                <a href="./detailspagina">
                    <button class="btn2">
                        <img src="../public/upload/images/pluswit.png" alt="Afspelen" />
                        Afspelen
                    </button>
                </a>
            </section>
        </section>
    </section>
    <section>
        <h2>Nieuwste films</h2>
        <ul class="slide-films">
            <li>
                <a href="./detailspagina">
                    <img src="../public/upload/images/movies/onepiece.jpg"
                        alt="informatie over de challenges van season 3">
                    <h3>One piece</h3>
                </a>
            </li>
            <li>
                <a href="./detailspagina">
                    <img src="../public/upload/images/movies/dragonball.jpg"
                        alt="informatie over de obstackles van season 3">
                    <h3>Dragonball</h3>
                </a>
            </li>
            <li>
                <a href="./detailspagina">
                    <img src="../public/upload/images/movies/AOT.jpg" alt="informatie over de rondes van season 3">
                    <h3>Attack on Titan</h3>
                </a>
            </li>
            <li>
                <a href="./detailspagina">
                    <img src="../public/upload/images/movies/OPman.jpg" alt="informatie over de rondes van season 3">
                    <h3>One Punch Man</h3>
                </a>
            </li>
        </ul>
    </section>
   
    <section>
        <h1></h1>
        <h2></h2>
        <h3></h3>
    </section>
</main>
<footer>
    <nav>
        <ul>
            <a href="/">
                <li>
                    <img src="../public/upload/images/homegroen.png" alt="Logo">
                    <p><span>Home</span></p>
                </li>
            </a>
            <a href="/account">
                <li>
                    <img src="../public/upload/images/accountwit.png" alt="Logo">
                    <p><span>Account</span></p>
                </li>
            </a>
        </ul>
    </nav>
</footer>
<script defer src="../public/script.js"></script>
</body>
</html>