*, *::after, *::before {
	box-sizing:border-box;  
	margin: 0;
	padding: 0;
  }
  
  button:not(disabled) {
	cursor:pointer;
  }

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

/* https://dlo.mijnhva.nl/d2l/le/content/437099/Home */
:root {
	--zwartmain:#000000;
    --primairmain:#7ED957;
    --secondairmain:#5CE1E6;
    --textkleur1:#707070;
    --textkleur1:#53616A;

	/* Shadow */
	/* Bron: https://www.joshwcomeau.com/gradient-generator/ */
	--shadowvoorblok:
      0 0 .125em var(--zwartmain),
      0 0 .25em var(--primairmain),
      0 0 .5em var(--zwartmain);

	  /* fonts */
	--websitefont: 'Poppins', sans-serif;

}

/* ALGEMEEN */

  body {
    background: black;
	font-family: var(--websitefont);;
  }

  main {
    margin-bottom: 7em;
    margin-left: 1em;
    margin-right: 1em;
    }

  h1, h2, h3, p {
	text-decoration: none;
  }

  p {
	color: white;
  }

  h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    color: white;
  }

  h2 {
	color: white;
  }

  a {
	text-decoration: none;
  }

  h2 div {
    text-align: center;
    margin-bottom: 1em;
    
  }

  li h2 {
  height: 20%;
	color:white;
	background-color: #53616A;
  padding: 0.25em 0.25em 0.25em 0.25em;
  border-radius: 1em 1em 0 0;
  text-align: center;
  width: auto;
  
  
  }
  
  ul {
  padding-left: none;
	list-style: none;
	display: flex;
	padding-left: 0;
	margin-bottom: 3em;
	gap: 1em;
	overflow-x: scroll;
	overflow-y: hidden;
	margin-left: 0.5em;
  }
  
  li.filmslijstje {
  display: flex;
	height: 100%;
	flex-direction: column;
	padding: 0;
	margin: 0;
  }
  
  li img {
    width: 10em;
	height: 80%;
  }
  
  li button.buttonverwijderen {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 45px;
    cursor: pointer;
  }

  /* SECTION 1 ACCOUNT GEGEVENS*/

  main section:nth-of-type(1) {
    text-align: center;
  }

  main section:nth-of-type(1) img{
   height: 10em;
   width: 7em;
   border-radius: 1em;
   border-style: solid;
   border-color: white;
  }

  main section:nth-of-type(1) p{
    color: white;
   }

   main section:nth-of-type(1) p:nth-of-type(1){
    color: var(--secondairmain);
    font-weight: bolder;
   }

  main section:nth-of-type(1) p:nth-of-type(2){
    margin-top: 1em;
    margin-bottom: 1em;
   }

   main section:nth-of-type(1) p:nth-of-type(2) span{
    color: var(--primairmain);
    font-weight: bolder;
   }

   main section:nth-of-type(1) p:nth-of-type(3){
    margin-top: 1em;
    margin-bottom: 1em;
   }

   main section:nth-of-type(1) p:nth-of-type(3) span{
    color: var(--primairmain);
    font-weight: bolder;
   }

   main section:nth-of-type(1) p:nth-of-type(4){
    margin-top: 1em;
    margin-bottom: 1em;
   }

   main section:nth-of-type(1) p:nth-of-type(4) span{
    color: var(--primairmain);
    font-weight: bolder;
   }

  /* Section 2 WAAR DE FILMS WORDEN INGELADEN */

  main section:nth-of-type(2) {
    margin-top: 2em;
    text-align: center;
    border-top: var(--secondairmain);
    border-width: 1em;
    border-style: solid;
    padding: 10px;
  }

  main section:nth-of-type(2) p {
    margin-top: 2em;
  }

  main section:nth-of-type(2) img {
    width: 100%;
    animation-name: schudden;
	  animation-duration:1.5s;
	  animation-iteration-count:infinite;
	  animation-direction:alternate;
	  animation-timing-function:cubic-bezier(0.125, 0.995, 1.000, 1);
	  animation-play-state: running;
  }

  @keyframes schudden {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  main section:nth-of-type(2) span {
    color: var(--primairmain);
  }

    /* FOOTER */

footer {
	
	background-color: #707070;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 100%;
	position: fixed;
	z-index: 100;
	bottom: 0;
}
footer nav ul {
	display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
footer nav ul li {
	align-content: center;
	text-align: center;
}

footer nav ul li p {
	margin: 0;
	padding: 0;
}

footer nav ul a:nth-of-type(1) li span {
	color: white;
}

footer nav ul a:nth-of-type(2) li span {
	color: var(--primairmain)
}

footer nav ul li img {
  padding-left: 0.5em;
}

footer nav ul li img:nth-of-type(1) {
	width: 20%
  }

footer nav ul li img:nth-of-type(2) {
	width: 15%;
  }
