*, *::after, *::before {
	box-sizing:border-box;  
	margin: 0;
	padding: 0;
  }
  
  button:not(disabled) {
	cursor:pointer;
  }

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

/* https://dlo.mijnhva.nl/d2l/le/content/437099/Home */
:root {
	--zwartmain:#000000;
    --primairmain:#7ED957;
    --secondairmain:#5CE1E6;
    --textkleur1:#707070;
    --textkleur1:#53616A;

	/* Shadow */
	/* Bron: https://www.joshwcomeau.com/gradient-generator/ */
	--shadowvoorblok:
      0 0 .125em var(--zwartmain),
      0 0 .25em var(--primairmain),
      0 0 .5em var(--zwartmain);

	  /* fonts */
	--websitefont: 'Poppins', sans-serif;

}

/* ALGEMEEN */

  body {
    background: black;
	font-family: var(--websitefont);;
  }

  h1, h2, h3, p {
	text-decoration: none;
  }

  p {
	color: white;
  }

  h2 {
	color: white;
  }

  a {
	text-decoration: none;
  }

  main {
	margin-bottom: 7em;
  }

    /* FOOTER */

footer {
	
	background-color: #707070;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 100%;
	position: fixed;
	z-index: 100;
	bottom: 0;
	margin-top: 10em;
}
footer nav ul {
	display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
footer nav ul li {
	align-content: center;
	text-align: center;
}

footer nav ul li p {
	margin: 0;
	padding: 0;
}

footer nav ul a:nth-of-type(1) li span {
	color: white;
}

footer nav ul a:nth-of-type(2) li span {
	color: var(--primairmain);
}

footer nav ul li img:nth-of-type(1) {
	width: 20%
  }

footer nav ul li img:nth-of-type(2) {
	width: 15%;
}