*, *::after, *::before {
	box-sizing:border-box;  
	margin: 0;
	padding: 0;
  }
  
  button:not(disabled) {
	cursor:pointer;
  }

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

/* https://dlo.mijnhva.nl/d2l/le/content/437099/Home */
:root {
	--zwartmain:#000000;
    --primairmain:#7ED957;
    --secondairmain:#5CE1E6;
    --textkleur1:#707070;
    --textkleur1:#53616A;

	/* Shadow */
	/* Bron: https://www.joshwcomeau.com/gradient-generator/ */
	--shadowvoorblok:
      0 0 .125em var(--zwartmain),
      0 0 .25em var(--primairmain),
      0 0 .5em var(--zwartmain);

	  /* fonts */
	--websitefont: 'Poppins', sans-serif;

}

/* ALGEMEEN */

  body {
  background: black;
	font-family: var(--websitefont);;
  }

  main {
    margin-top: 4em;
    text-align: center;
  }

  h1, h2, h3, p {
	text-decoration: none;
  }

h1 {
    color: var(--primairmain)
}

  h2 {
	color: white;
  }

  h3 {
    color: white;
  }

  p strong {
    color: var(--secondairmain);
  }

  p {
    color: white;
    padding-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
  }

  a {
	text-decoration: none;
  }

  main img{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin-bottom: 4em;
    padding: 2em;
    border-radius: 5em;
  }

  
  

  /* HEADER */

  header nav {
	display: flex;
	align-content: center;
    justify-content: flex-start;
    align-items: center;
	background-color: #000000;
	position: fixed;
	z-index: 100;
	top: 0;
    
}

  header nav a:nth-of-type(1) img {
	width: 9%;
	margin-left: 1.5em;
	margin-right: 1.2em;
  }

  header nav img:nth-of-type(1) {
	width: 15%;
  }

  header nav img:nth-of-type(2) {
	width: 15%;
  }



  