/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	box-sizing:border-box;  
  }
  
  button:not(disabled) {
	cursor:pointer;
  }

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

/* https://dlo.mijnhva.nl/d2l/le/content/437099/Home */
:root {
	--zwartmain:#000000;
    --primairmain:#7ED957;
    --secondairmain:#5CE1E6;
    --textkleur1:#707070;
    --textkleur1:#53616A;

	/* gradient */
	/* Bron: https://www.joshwcomeau.com/gradient-generator/ */
	--sectionslides: linear-gradient(
		0deg,
		hsl(224deg 100% 38%) 0%,
		hsl(226deg 79% 47%) 8%,
		hsl(225deg 82% 54%) 16%,
		hsl(224deg 100% 61%) 24%,
		hsl(209deg 100% 50%) 31%,
		hsl(204deg 100% 50%) 39%,
		hsl(204deg 89% 59%) 47%,
		hsl(198deg 94% 54%) 55%,
		hsl(193deg 100% 49%) 64%,
		hsl(190deg 99% 49%) 73%,
		hsl(189deg 100% 49%) 81%,
		hsl(187deg 96% 51%) 91%,
		hsl(186deg 95% 55%) 100%
	  );

	/* fonts */
	--websitefont: 'Kanit', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

	/* winkel */
	--item-color: var(--zwartmain);
	--item-border-color: var(--zwartmain);
	--item-text-shadow:
		0 0 .125em var(--calltoactionCYAN),
		0 0 .25em var(--calltoactionCYAN),
		0 0 .5em var(--calltoactionCYAN);
  }

  body {
    background: var(--zwartmain);
  }