/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	box-sizing:border-box;  
  }
  
  button:not(disabled) {
	cursor:pointer;
  }

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

/* https://dlo.mijnhva.nl/d2l/le/content/437099/Home */
:root {
	--zwartmain: #000;	
	--witmain:#fff;
	--calltoactionGREEN: #7ED957;
	--calltoactionBLUE: #5CE1E6;

	/* gradient */
	/* Bron: https://www.joshwcomeau.com/gradient-generator/ */
	--sectionslides: linear-gradient(
		0deg,
		hsl(224deg 100% 38%) 0%,
		hsl(226deg 79% 47%) 8%,
		hsl(225deg 82% 54%) 16%,
		hsl(224deg 100% 61%) 24%,
		hsl(209deg 100% 50%) 31%,
		hsl(204deg 100% 50%) 39%,
		hsl(204deg 89% 59%) 47%,
		hsl(198deg 94% 54%) 55%,
		hsl(193deg 100% 49%) 64%,
		hsl(190deg 99% 49%) 73%,
		hsl(189deg 100% 49%) 81%,
		hsl(187deg 96% 51%) 91%,
		hsl(186deg 95% 55%) 100%
	  );

	/* fonts */
	--websitefont: 'Kanit', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

/* Bronnen */
/* https://techstacker.com/how-to-make-elements-zoom-on-hover-with-css/ */
/* https://css-tricks.com/almanac/properties/c/clip-path/ */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit?retiredLocale=nl */

body {
    background-color: var(--zwartmain);
}

/* gemakkelijk de font per element kunnen aanpassen */

  p {
	font-family: var(--websitefont);
}

  h1 {
	font-family: var(--websitefont);
  }

  h2 {
	font-family: var(--websitefont);
    color: red;
  }

  h3 {
	font-family: var(--websitefont);
  }

  button {
	font-family: var(--websitefont);
  }

  ul {
	padding-left: none;
	list-style: none;
  }

  img {
	width: 100%;
  }

  body.index nav img {
	width: 25%;
  }

/* Section 1 */
	
  body.index section.promovideo video {
	width: 100%;
	height: 300px;
	/* bron: https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit?retiredLocale=nl */
	object-fit: cover;
	position: absolute;
	left: 0;
  }

  body.index main section:nth-of-type(1) {
	position: relative;
  }
  
  body.index main section:nth-of-type(1) p span{
	color: var(--calltoactionGREEN);
  }
  	

  